<p><b><%= @event.name %> Event scheduled on <%= @event.start_date %></b></p>
Your Conference Manager account has been associated with an upcoming conference! Please click the following link to sign in <%= @url %>.   Once signed in, please enter your availability. 
<br/><br/>

Thanks!
