<p><b><%= @event.name %> Event scheduled on <%= @event.start_date %></b></p>
You have been added to Conference Manager for an upcoming conference! Please click the following link to register <%= @url %>.   Once registered, please enter your availability for this conference. 
<br/><br>
If you are already registered with the system, please add the following event id to your dashboard: <%= @event.id %>
<br/><br/>

<p>Thanks!</p>
