<div class="title_wrapper">
	<div class="title">
		Conference Manager
	</div>	
</div>

<div class="title_wrapper">
	<div style="inline">
		<div class="center">
			Email and text alerts.
		</div>
		<div class="center">
			Self scheduling.
		</div>
		<div class="center">
			Happy volunteers.
		</div>
	</div>
</div>

<div class="title_wrapper">
	<div class="sign_in_home">
		<div class="center" style="margin-top: 20px;">
			<%= form_tag(email_send_path) do %>
				<%= button_tag "Go!" %>	
				<div style="display: inline-block; width: 5px;"></div>
				<%= email_field_tag "home_email", 'yourname@email.com', {:class => 'start_style'} %>
			<% end %>
		</div>
	</div>
</div>

<div class="title_wrapper">
	<div class="center">
		Organize, manage, and schedule volunteers easier than ever!
	</div>
</div>

<div class="center_image">
	<div class="center_image_tag">Site by </div>
	<%= image_tag "CougarWare_Logo_red.png", :size => "200x70" %>
</div>

