<% @areas.each do |area| %>
	<% is_checked = @volunteer_event.areas.include? area %>
  <% display = "#{area.name} Area" %>
	<%= check_box_tag 'areas[]', area.id, is_checked %> 
	<%= label_tag 'area', "#{display}" %>
	<span> </span>
<% end %>
