/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.inner {
	width: 300px;
	margin: 0px auto 0px auto;
}

html {
	height: 100%;
	font-family: 'Magra', sans-serif;
	/*font-family: Impact, Charcoal, sans-serif;*/
	/*font-family: Arial, helvetica;*/
	/*font-weight: lighter;*/
}

body {
	height: 100%;
	background: url("http://static.jquery.com/files/rocker/images/bg-home-tile.jpg") repeat-x scroll 50% 0 #39414A;
}

#container {
 	width: 910px;
	height: 100%;
 	margin: 1.7em auto 0px;
}

#footer {
	position: relative;
	width: 100px;
	height: 4em;
}

#yeild {
	/*background: url(" http://static3.grsites.com/archive/textures/ss/ss143.gif") repeat scroll 50% 0 #39414A;*/
	background: url("http://static.jquery.com/files/rocker/images/bg_home_content.gif") repeat-x scroll 50% 0 #39414A;
	background-size: 100% 100%;
	padding: 1px 5px 2em 15px;
	color: white;
	height: 100%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}


fieldset {
	padding: 5px 5px 15px 5px;
	color: black;
	background-image: url('http://static.jquery.com/files/rocker/images/bg_subtleGrayGrad.gif');
	background-repeat: repeat-x;
	background-size: 100% 100%;
	background-position: 0px 20px;
	border-radius: 25px;
	border-color: transparent;
}

#title {
	display: none;
}

h3, h2, h1 {
	color: white;
}

.area {
	display: table;
	width: 850px;
}

.area_row {
	display: table-row;
}

.volunteer {
	display: table;
	width: 850px;
	font-size: 12px;
}


.page {
	width: 850px;
}

.area_cells {
	display: table-cell;
	width: 400px;
}	

.area_slots {
	display: table-cell;
	margin: 0px 12px 2px -2px; 
	padding: 1px; 
	float: left;
}

.generic_slots {
	margin: 0px 5px 0px 5px;
	display: table-cell;
	white-space: nowrap;
	overflow: hidden;
}

.time input{
  /*margin: 2px 0 5px -100px;
  padding: 2px;
	text-align: right;*/
}

.white {
	color: white;
}

#selected_volunteers_ {
  width: auto;
  text-align: left;
	border:0;
	z-index: 200;
}

a:link {color: #0f67a1; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #0f67a1; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }


/* for tabs */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; height: 100%; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

#announce {
	background-image: url('http://icondock.com/wp-content/plugins/wp-shopping-cart/product_images/thumbnails/Blockie-announcement.jpg');
	background-size: 130px 102px;
	height: 150px;
}

.title_wrapper {
	text-align: center;
	margin: 20px auto 20px auto;
}

.title {
	font-size: 58px;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin: 0px auto 0px auto;
}

div.center {
	display: inline-block;
	margin: 0px 20px;
	color: white;
	font-size: 24px;
}

div.center_image {
	vertical-align: middle;
	margin-top: 1em;
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.center_image_tag {
	vertical-align: top; 
	padding-top: 1.8em; 
	padding-right: .5em;
	display: inline-block;
	color: white;
	font-size: 15px;
}

.sign_in_home {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	width: 50%;
	height: 75px;
	display: inline-block;
	/*background-color: #0f67a1;*/
	background-image: url('http://static.jquery.com/files/rocker/images/bg_subtleGrayGrad.gif');
	background-repeat: repeat-x;
	background-size: 100% 100%;
	text-align: center;
}

#home_email {
	width: 250px;
	font-size: 70%;
}

button {
 font-size: .8em !important;
}

.input_field {
	font: inherit;
	font-size: .7em !important;
	color: inherit;
	text-align: inherit;
	outline: none;
	cursor: text;
	width: inherit !important;
}

input[type=text], input[type=email], input[type=number], input[type=tel], input[type=password], select {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 2px 2px 3px #666;
	/*font-size: inherit !important;*/
	font-size: inherit;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input[type=text]:focus, select:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=checkbox]:focus, input[type=password]:focus {
	border-color: #000;
}

input[type=number] {
	width: 25px !important;
	margin-top: 3px !important;
	box-shadow: none !important;
	margin: 3px 0px 0px 0px !important;
	text-align: center;
}

.start_style {
	font-style: italic;
	color: grey; 
}

.end_style {
	font-style: normal;
	color: black;
}

/*input[type=checkbox] {
	width: 10px !important;
	margin-top: 3px !important;
	box-shadow: none !important;
	margin: 3px 0px 0px 0px !important;
}*/

#error_explanation, .alert, .notice {
	color: red !important;
}


