
		<%= render 'layouts/above' %>
		<div id="tab-container" class="tab-container">
			<ul class='etabs'>
				<li class='tab' id='tab1'><a href="/home/ajax_index" data-target="#tabs1-home">Home</a></li>
				<li class='tab' id='tab2'><a href="#tabs1-dash">Dashboard</a></li>
				<li class='tab'><a href="/home/ajax_help" data-target="#tabs1-help">Help</a></li>
				<li class='tab'><a href="#tabs1-contact">Contact</a></li>
			</ul>
			<div id="tabs1-home">
			</div>

			<div id="tabs1-dash">
				<div id="yeild">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
  				<%= yield %>
				</div>
			</div>

			<div id="tabs1-help"></div>
			<div id="tabs1-contact">
				<div id="yeild">
					<h2>Contact</h2>
					<p>For questions, concerns,or issues, please contact us <a href="mailto:jgor@indiecom.org">here</a>.
					</p>
			</div>
		</div>
			</div>
</body>
</html>
<script type='text/javascript'>
$(document).ready( function () {
	$('#tab-container').easytabs({defaultTab: 'li#tab2'});
});
</script>
